# Metadata template for Pods
# This is a simplified version of the metadata template used by the benchmark-operator
  labels:
    benchmark-uuid: "{{ uuid }}"
    app: "{{ test_user }}-benchmark-pod"
    type: "{{ resource_kind }}"
{% if workload_args.annotations %}
  annotations:
{% for annotation, value in workload_args.annotations %}
    "{{ annotation }}": "{{ value }}"
{% endfor %}
{% endif %}
